<div class="card">
  <div class="card-content">
    <p class="title">
      Battle Gamble! 
    </p>
    <p class="subtitle">
      Which Pokémon will win the battle?
    </p>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item" (click)="get2pokemon()">
      <img src="{{pokemon1.sprites.front_default}}" alt="{{pokemon1.name}}">
      <p class="pokemonName">{{pokemon1.name}}</p>
      <p>level: {{myRandomLevel1}}</p>
    </div>
    <div class="card-footer-item" (click)="get2pokemon()">
        <img src="{{pokemon2.sprites.front_default}}" alt="{{pokemon2.name}}">
        <p class="pokemonName">{{pokemon2.name}}</p>
        <p>level: {{myRandomLevel2}}</p>
    </div>

  </footer>
</div>